@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://hbvcc.org.nz/wp-content/uploads/vcc.png"  />
</div>
